<%
    const params = { param:'我是 param'};
    const colors = ['#4390ee', '#ca4040', '#ff8604'];
%>

<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('@components/meta.ejs')() %>
        <title>Index</title>
    </head>

    <body>
        <header>
            <h1 id="title">
                Index
                <span class="iconfont icon-message"></span>
            </h1>
            <a href="./about.html">
                <h2>About ></h2>
            </a>
        </header>
        <main>
            <ol>
                <li>
                    <dl>
                        <dt>webpack 全局变量</dt>
                        <dd>
                            <table>
                                <tr>
                                    <th>类型</th>
                                    <th>名称</th>
                                    <th>值</th>
                                </tr>
                                <tr>
                                    <td>String</td>
                                    <td>NODE_ENV</td>
                                    <td><%= NODE_ENV %></td>
                                </tr>
                                <tr>
                                    <td>String</td>
                                    <td>BASE_URL</td>
                                    <td><%= BASE_URL %></td>
                                </tr>
                                <tr>
                                    <td>Boolean</td>
                                    <td>IS_DEV</td>
                                    <td><%= IS_DEV %></td>
                                </tr>
                            </table>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            利用 ejs 模板引擎，导入其他 html 片段，实现组件化开发
                        </dt>
                        <dd>
                            <%= require('./components/component.ejs')(params) %>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>要被打包的图片需要用 ejs 模板标签语法导入，不支持 import 语法</dt>
                        <dd>
                            <img
                                class="package-img"
                                src="<%= require('@images/webpack.svg') %>"
                                alt="chrome"
                                title="chrome"
                            />
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            scss 和 js 导入图片的方式详见 index.scss 和 index.js
                        </dt>
                        <dd>
                            <div class="scss-background-image"></div>
                            <div class="js-background-image"></div>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            如果不希望图片被打包，可以使用相对路径引用 public 目录下的资源，public 目录是
                            webpack-dev-server 服务器运行的根目录，可用于模拟网络环境，一般情况下，生产环境中应使用 cdn
                            资源的根路径替换，BASE_URL 已经封装好了这一逻辑
                        </dt>
                        <dd>
                            <img class="web-img" src="<%= BASE_URL + 'images/chrome.png' %> " alt="" />
                        </dd>
                    </dl>
                </li>
                <li>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <% for(let i = 0; i < colors.length; i++){ %>
                            <div
                                class="swiper-slide"
                                style="background-color: <%= colors[i] %>;"
                            >
                                Slide <%= i + 1 %>
                            </div>
                            <% } %>
                        </div>
                        <!-- 如果需要分页器 -->
                        <div class="swiper-pagination"></div>

                        <!-- 如果需要导航按钮 -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                        <!-- 如果需要滚动条 -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                </li>
            </ol>
        </main>
        <footer>
            <%= require('@components/copyright.ejs')() %>
        </footer>

        <% if(IS_DEV){ %>
        <script src="https://cdn.staticfile.org/vConsole/3.3.4/vconsole.min.js"></script>
        <script>
            new VConsole();
        </script>
        <% } %>
    </body>
</html>
